#navbar {
  color: white;
  background-color: #005a83;
}
.navbaronscroll {
  transition: ease-in-out;
  transition-duration: 0.5s;
  background-color: #428bca;
  color: black;
}

body {
  overflow-x: hidden;
}

.swiper-button-prev::after {
  color: #fff;
  border: "1px solid black";
}

.swiper-button-next::after {
  color: #fff;
}

.board {
  transition-duration: 0.4s;
}

.board:hover {
  transform: scale(1.004);
  opacity: 0.85;
}

.workshop {
  transition-duration: 1s;
}
.workshop:hover {
  transform: scale(1.004);
}

@media only screen and (max-width: 600px) {
  .board {
    width: 75%;
  }
  .subscribebtn{
    margin-top: 15px;
  }
}

.mySwiper {
  transition-duration: 1s;
}

.mySwiper:hover {
  opacity: 0.75;
}

.contact {
  border: 2px solid white;
  border-radius: 15px;
  color:#fff;
  transition-duration: 0.5s;
}
.contact:hover {
  border: 2px solid #428bca;  
  opacity: 0.6;
}
